#globalTopNav nav {
  padding-right: 20px;
}

#globalTopNav .input-group {
    padding-top: 7px;                            /* Centers the search box in the nav */
}

.row-top-margin {
  margin-top: 5px;                               /* videoDisplay.php: Provides som space between add button and next thumbnail when collapsed */
}
                                               
.row-bottom-margin {                           
  margin-bottom: 5px;                          
}                                              
                                               
#videoDisplay a {                              
  color: black;                                
}                                              
                                               
li button {                                    
  margin-left: 2px;                              /* Provides some space between arrow up and arrow down buttons in playlistEdit.php */
  margin-right: 2px;                             
}                                                
                                                 
body {                                           
  padding-top: 80px;                             /* Navbar fixed on top takes 50px */
}

.videoBrowse {
  text-align: center;
  font-weight: bold;
}

.panel-title {
  text-align: center;
}

.playlistTitle {
  font-weight: bold;                             /* playlistManage.php */
}

video {
  width: 100%;
  height: auto;
}


  li.list-group-item {                           /* playlistManage.php - playlistvideo list item */
   background-color: rgb(234, 234, 234);
  }
  
  .panel-body {                                  /* global - panel bodies */
    background-color: rgb(244, 244, 244);
  }
 
  button.moveDown.moveUp {                       /* playlistManage.php - arrow button up/down */
    margin-left: 2px;
    margin-right: 2px;
  }
  
  #rightChapsEdit {
    width: 100%;
    height: 300px;
  }
  
  /* Event listener styling */ 
  
  .mouseenterVideoSubsBottom {
    border: 2px dashed Turquoise;
    height: 30px;
  }
  
  .onclickVideoSubsBottom {
    border: 2px dashed Turquoise;
    height: 120px;
    width: 70%;
  }
  
  .mouseenterVideoSubsRight {
    border: 2px dashed Turquoise;
    height: 50%;
  }
  
  .onclickVideoSubsRight {
    border: 2px dashed Turquoise;
    height: 100%;
  }
  
  .hideMe {
    display: none;
  }
  
  .liveSubtitles {
    width: 100%;
    height: 115px;                               /* 5 px offset from .onclickVideoSubsBottom */
    border: none;
  }
  
  .liveChapters {
    width: 100%;
    height: 100%;
    border: none;
  }
  
